[Unit]
Description=Network Dashboard API
After=network.target kea-dhcp4-server.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /var/www/html/includes/api_server.py
ExecReload=/bin/kill -USR1 $MAINPID
Restart=always
RestartSec=3
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ReadWritePaths=/etc/wireguard /etc/ufw /etc/systemd/system /etc/tuxwall /etc/unbound /etc/kea /etc/netplan /etc/nginx /etc/sysctl.d /etc/crowdsec /etc/apt /etc/cloudflared /etc/hosts /etc/hosts.allow /etc/hosts.deny /etc/hostname /etc/fstab /usr/local/bin /usr/local/sbin /etc/radvd.conf

[Install]
WantedBy=multi-user.target
